body, html, h1, h2, p{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #CFDBD5;
}

.container{
    width: 60%;
    padding: 30px;

    border: 1px solid grey;
    border-radius: 10px;

    background-color: #242424   ;
}

.title__container{
    text-align: center;
}

.title{
    margin:0;
    margin-bottom: 20px;
}